.safety-container {
    display: flex;
}

.left-column {
    width: 600px;
    height: 480px;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.058);
    transition: background-color 0.3s;
    border-radius: 6px;
}

.right-column {
    width: 600px;
    height: 480px;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.058);
    transition: background-color 0.3s;
    border-radius: 6px;
}

.left-column:hover {
    background-color: rgba(0, 128, 0, 0.368);
}

.right-column:hover {
    background-color: rgba(255, 0, 0, 0.456);
}

.saf-txt{
    color: rgba(0, 0, 0, 0.858);
    font-size: large;
    text-align: left;
    text-align: justify;
    padding: 10px;
}